# Build outputs
*.o
*.obj
*.exe
*.out
*.a
*.lib
*.dll
*.elf
*.ko
*.hex
*.app
*.i*86
*.x86_64

# Linker output
*.ilk
*.map
*.exp

# Precompiled headers
*.gch
*.pch

# Libraries
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.so
*.so.*
*.dylib

# Debug and profiling
*.log
*.pdb
*.idb
*.dSYM/
*.dwo
*.su

# Kernel module compile results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# OS files
.DS_Store
Thumbs.db

# Editor folders
.vscode/
